{% load static %}
<header>
<div class="navbar">
    <a href="{% url 'index' %}">&#8962 Home</a>
    {% if user.is_authenticated %}
        <a href="{% url 'uebersicht' %}">Aufgaben</a>
        <a href="{% url 'protokoll' %}">Protokoll</a>
        {% if lehrer %}
            <a href="{% url 'meine_gruppen' %}">meine Lerngruppen</a>
        {% endif %}
    {% else %}
        <a href="{% url 'anmelden' %}">Anmelden</a>
    {% endif %}

    {% if user.is_authenticated %}
    <div class="dropdown">
        <button class="dropbtn"> 
            Hallo {{ user.username }}!
            {% comment %} <i class="fa fa-caret-down"></i> {% endcomment %}
        </button>
            <div class="dropdown-content">
            <a href="{% url 'password_reset' %}">Passwort zurücksetzen</a>
            <a href="{% url 'profil' %}">mein Profil</a>
            <a href="{% url 'logout' %}">Abmelden</a>        
            </div>
    </div>        
    {% endif %}
    {% if loeschen %}
        <a href="{% url 'aufgaben_loeschen' user.id %}">alle Aufgaben löschen</a>
    {% endif %}
</div> 
</header>

